.content .header h1{
    font-size: 1.2em;
    width: 70%;
}
.content .header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.content .header span {
    margin-right: 5%;
    width: 18%;
    text-align: end;
}
.card-content{
    width: 100%;
    display: flex;
}
.card-content .infor{
    align-items: center;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}
.card-content .price{
    width: 40%;
    display: flex;
    justify-content: center;
}
.price p {
    font-size: larger;
    color: rgb(4, 164, 4);
    font-weight: bold;
}